<section>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <h2 class="text-center">Edit Product</h2>
                <form action="/edit-product/{{product._id}}" method="POST" enctype="multipart/form-data">
                    <label for="">Edit Name</label>
                    <input type="text" name="Name" class="form-control" value="{{product.Name}}">
                      <label for="">Edit Price</label>
                    <input type="number" name="Price" class="form-control"  value="{{product.Price}}">
                     <label for="category">Edit Category:</label>

                        <select name="category" id="category" name="productCategory"
                        value="product.productCategory">
                            
                            {{#each category}}
                        <option >{{this.productCategory}}</option>
                        {{/each}}
                        </select><br>
                    <label for="">Edit Quantity</label>
                     <input type="number" name="Quantity" class="form-control"  value="{{product.Quantity}}">
                     
                     <label for="">Edit Description</label>
                    <input type="text" name="Description" class="form-control" value="{{product.Description}}">
                     <label for="">Replace Image</label>
                    
                    <input type="file" name="Image" class="form-control" onchange="viewImage(event)">

                    <button type="submit" class="btn btn-success mt-4">Submit</button>
                </form>
            </div>
              <div class="col-md-6">
 <img src="/img/product-images/{{product._id}}.jpg" alt="" style="width:auto; height:auto;" id="imgView">
</div>
        </div>
    </div>
</section>
<script>
    function viewImage(event){
        document.getElementById('imgView').src=URL.createObjectURL(event.target.files[0])
    }
</script>