<!--Table-->
 


<table class="table table-striped w-100%" id="productsTable " >

  <!--Table head-->
  <thead>
    <tr class="table-warning">
      <th>count</th>
      <th>Name</th>
      <th>Price</th>
      <th>Category</th>
      <th>Quantity</th>
      <th>Description</th>
      <th>Options</th>
      <th>Image</th>
    </tr>
  </thead>
  <!--Table head-->

  <!--Table body-->
  <tbody>
      {{#each products}}
    
        <tr class="table-info">
      <th scope="row">{{math @index "+" 1}}</th>
      <td>{{this.Name}}</td>
      <td>{{this.Price}}</td>
      <td>{{this.category}}</td>
      <td>{{this.Quantity}}</td>
      <td>{{this.Description}}</td>
      <td>
        <a href="/admin/edit-product/{{this._id}}" class="btn btn-secondary mt-3">Edit</a>
        <a href="/admin/delete-product/{{this._id}}" class="btn btn-danger mt-3" onclick="return confirm('do you need to delete the {{this.Name}}? ')">Delete</a>
        
      </td>
      <td><img style="width: 70px; height:70px;" src="/img/product-images/{{this._id}}.jpg" alt=""></td>
    </tr>
     
   {{/each}}
   
  </tbody>
  <!--Table body-->


</table>
<!--Table-->

<script>
  $(document).ready( function () {
    $('#productsTable').DataTable();
    
} );
</script>
