<!-- ::::::  Start  Main Container Section  ::::::  -->
    <main id="main-container" class="main-container">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-content">
                        <h5 class="section-content__title pt-3">Your cart items</h5>
                    </div>
                    <!-- Start Cart Table -->
                    <div class="table-content table-responsive cart-table-content m-t-30 ">
                        <table>
                            <thead >
                                <tr>
                                    <th>Image</th>
                                    <th>Product Name</th>
                                    <th>Until Price</th>
                                    <th>Qty</th>
                                    <th>Subtotal</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each products}}
                                <tr>
                                  
                                    <td class="product-thumbnail">
                                        <a href="#"><img class="img-fluid" src="/img/product-images/{{this.product._id}}.jpg" alt=""></a>
                                    </td>
                                      
                                    <td class="product-name"><a href="#">{{this.product.Name}}</a></td>
                                    <td class="product-price-cart"><span class="amount">{{this.product.Price}}</span>
                                   
                                    </td>
                                    <td>
                                     <button type="button" class="btn btn-primary " onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{user._id}}',-1)" >-</button>
                                     <span id="{{this.product._id}}">{{this.quantity}}</span>
                                     <button type="button" class="btn btn-primary " onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{user._id}}',1)" >+</button>  
                                    </td>
                                    <td class="product-subtotal">$70.00</td>
                                    <td class="product-remove">
                                       
                                        <button type="button" class="btn btn-primary mr-1" onclick="deleteProduct('{{this._id}}','{{this.product._id}}')"><i class="fa fa-times"></i></button>
                                    </td>
                                </tr>
                               {{/each}}
                            </tbody>
                        </table>
                    </div>  <!-- End Cart Table -->
                     <!-- Start Cart Table Button -->
                    <div class="cart-table-button m-t-10">
                        <div class="cart-table-button--left">
                            <a href="#" class="btn btn--box btn--large btn--gray btn--uppercase btn--weight m-t-20">CONTINUE SHOPPING</a>
                        </div>
                        <div class="cart-table-button--right">
                            <a href="#" class="btn btn--box btn--large btn--gray btn--uppercase btn--weight m-t-20 m-r-20">UPDATE SHOPPING CART</a>
                            <a href="#" class="btn btn--box btn--large btn--blue btn--uppercase btn--weight m-t-20">Clear Shopping Cart</a>
                        </div>
                    </div>  <!-- End Cart Table Button -->
                </div>
                
            {{!-- </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="sidebar__widget gray-bg m-t-40">
                        <div class="sidebar__box">
                            <h5 class="sidebar__title">Estimate Shipping And Tax</h5>
                        </div>
                        <span>Enter your destination to get a shipping estimate.</span>
                        <form action="#" method="post" class="form-box">
                            <div class="form-box__single-group">
                                <label for="form-country">* Country</label>
                                <select id="form-country">
                                    <option value="BD" selected>Bangladesh</option>
                                    <option value="US">USA</option>
                                    <option value="UK">UK</option>
                                    <option value="TR">Turkey</option>
                                    <option value="CA">Canada</option>
                                </select>
                            </div>
                            <div class="form-box__single-group">
                                <label for="form-state">* Region / State</label>
                                <select id="form-state">
                                    <option value="Dha" selected>Dhaka</option>
                                    <option value="Kha">Khulna</option>
                                    <option value="Raj">Rajshahi</option>
                                    <option value="Syl">Sylet</option>
                                    <option value="Chi">Chittagong</option>
                                </select>
                            </div>
                            <div class="form-box__single-group">
                                <label for="form-zipcode">* Zip/Postal Code</label>
                                <input type="text" id="form-zipcode">
                            </div>
                            <div class="from-box__buttons m-t-25">
                                <button class="btn btn--box btn--small btn--blue btn--uppercase btn--weight" type="submit">GET A QUOTE</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="sidebar__widget gray-bg m-t-40">
                        <div class="sidebar__box">
                            <h5 class="sidebar__title">Use Coupon Code</h5>
                        </div>
                        <span>Enter your coupon code if you have one.</span>
                        <form action="#" method="post" class="form-box">
                            <div class="form-box__single-group">
                                <label for="form-coupon">*Enter Coupon Code</label>
                                <input type="text" id="form-coupon">
                            </div>
                            <div class="from-box__buttons m-t-25">
                                <button class="btn btn--box btn--small btn--blue btn--uppercase btn--weight" type="submit">Apply Coupon</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6"> --}}
                    <div class="sidebar__widget gray-bg m-t-40">
                        <div class="sidebar__box">
                            <h5 class="sidebar__title">Cart Total</h5>
                        </div>
                        <h6 class="total-cost">Total products Price Rs.<span id="total" >{{totalValue}}</span></h6>
                        <div class="total-shipping">
                            <span>Total shipping</span>
                            <ul class="shipping-cost m-t-10">
                                <li>
                                    <label for="ship-standard">
                                        <input type="radio" class="shipping-select" name="shipping-cost" value="Standard" id="ship-standard" checked><span>Standard</span>
                                    </label>
                                    <span class="ship-price">Rs.00.00</span>
                                </li>
                                <li>
                                    <label for="ship-express">
                                        <input type="radio" class="shipping-select" name="shipping-cost" value="Express" id="ship-express"><span>Express</span>
                                    </label>
                                    <span class="ship-price">Rs.00.00</span>
                                </li>
                            </ul>
                        </div>
                        <h4 class="grand-total m-tb-25">Grand Total Rs.<span id="total">{{totalValue}}</span></h4>
                        <a href="/place-order"><button class="btn btn--box btn--small btn--blue btn--uppercase btn--weight" type="submit">PROCEED TO CHECKOUT</button></a>
                    </div>
                </div>
            </div>
        </div>
    </main> <!-- ::::::  End  Main Container Section  ::::::  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        function changeQuantity(userId,cartId,proId,count){
            let quantity=parseInt(document.getElementById(proId).innerHTML)
            count=parseInt(count)
            console.log(userId)
            $.ajax({
                url:'/change-product-quantity',
                data:{
                    user:userId,
                    cart:cartId,
                    product:proId,
                    count:count,
                    quantity:quantity
                },
                method:'post',
                success:(response)=>{
                    if(response.removeProduct){
                        alert('THE PRODUCT IS REMOVED FROM THE CART')
                        location.reload()
                    }else{
                        document.getElementById(proId).innerHTML=quantity+count
                        document.getElementById(total).innerHTML=response.total
                    }
                    
                }
                
            })
        }

        function deleteProduct(cartId,proId){
            console.log(cartId,proId)
             $.ajax({
                url:'/delete-product',
                data:{
                    cart:cartId,
                    product:proId,
                    
                    
                },
                method:'post',
                success:(response)=>{
                    if(response.removeProduct){
                        alert('THE PRODUCT IS REMOVED FROM THE CART')
                        location.reload()
                    }
                    
                }
                
            })

        }
    </script>