
                <!-- Start Product Details Gallery -->
                <div class="col-12">
                    <div class="product-details">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="product-gallery-box m-b-60">
                                    <div class="product-image--large overflow-hidden">
                                        <img class="img-fluid" id="img-zoom" src="/img/product-images/{{product._id}}.jpg" data-zoom-image="/img/product/gallery/gallery-large/product-gallery-large-1.jpg" alt="">
                                    </div>
                                    <div class="pos-relative m-t-30">
                                        <div id="gallery-zoom" class="product-image--thumb product-image--thumb-horizontal overflow-hidden swiper-outside-arrow-hover m-lr-30">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                    <a class="zoom-active" data-image="/img/product/gallery/gallery-large/product-gallery-large-1.jpg" data-zoom-image="/img/product/gallery/gallery-large/product-gallery-large-1.jpg">
                                                        <img class="img-fluid" src="/img/product/gallery/gallery-thumb/product-gallery-thumb-1.jpg" alt="">
                                                    </a>
                                                </div>
                                                <div class="swiper-slide">
                                                    <a data-image="/img/product/gallery/gallery-large/product-gallery-large-2.jpg" data-zoom-image="/img/product/gallery/gallery-large/product-gallery-large-2.jpg">
                                                        <img class="img-fluid" src="/img/product/gallery/gallery-thumb/product-gallery-thumb-2.jpg" alt="">
                                                    </a>
                                                </div>
                                                <div class="swiper-slide">
                                                    <a data-image="/img/product/gallery/gallery-large/product-gallery-large-3.jpg" data-zoom-image="/img/product/gallery/gallery-large/product-gallery-large-3.jpg">
                                                        <img class="img-fluid" src="/img/product/gallery/gallery-thumb/product-gallery-thumb-3.jpg" alt="">
                                                    </a>
                                                </div>
                                                
                                               
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mt-5">
                                <div class="product-details-box">
                                    <h5 class="section-content__title">{{product.Name}}</h5>
                                    <div class="review-box">
                                        <ul class="product__review m-t-10 m-b-15">
                                            <li class="product__review--fill"><i class="icon-star"></i></li>
                                            <li class="product__review--fill"><i class="icon-star"></i></li>
                                            <li class="product__review--fill"><i class="icon-star"></i></li>
                                            <li class="product__review--fill"><i class="icon-star"></i></li>
                                            <li class="product__review--blank"><i class="icon-star"></i></li>
                                        </ul>
                                    </div>
                                    <div class="product__price">
                                        <span class="product__price-del">$35.90</span>
                                        <span class="product__price-reg">{{product.Price}}</span>
                                    </div>
                                    <div class="product__desc m-t-25 m-b-30">
                                        <p>{{product.Description}}</p>
                                    </div>
                                    <div class="product-var p-t-30">
                                       
                                        <div class="product-quantity product-var__item">
                                            <div class="product-quantity-box">
                                                
                                                <button onclick="addToCart('{{product._id}}')" data-toggle="modal" data-dismiss="modal" class="btn btn--box btn--small btn--blue btn--uppercase btn--weight m-l-20">Add to cart</button>
                                            </div>
                                           
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                    </div> 
                </div><!-- End Product Details Gallery -->